/* styles.css */

.mobile-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #171F39;
  border-radius: 55px;
  padding: 20px;
  margin: 20px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #101B3A;
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.nav-icon  {
  width: 28px;
  height: 31px;
}

